*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }

html {

    font-size: 62.50%;
    
}

body {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        width: 100%;

    
}

.header {
    background-color: black;
    display: flex;
    justify-content:space-between;
    height: 6rem;
    position: fixed;
    width: 100vw;
    
    align-items: center;
}

.header-nav {
    display: flex;
    color: white;
    display: none;
   
}
       

.logo {
    max-height:  2.5rem;
    margin-left: 2rem;
    
}
.bmenu {
    justify-content: flex-end;
    max-height:  2.5rem;
    margin-right: 2.5rem;
}
.main {
    background-color:#5f9aff;;
    color: white;
    padding-top: 20rem;
    width: 100vw;
    display: flex;
    
}

.hero {

    background: color #5f9aff;
    height: 45rem;
    align-items: center;    
    font-size: 3.5rem;
    display: inline;
    justify-content: center;
    padding-left: 2rem;
    
    
}

.paragraph {
    font-size: 2.5rem;
    margin-top: 1.5rem;
    background-color:  #5f9aff;
}    

.prices {
    width:75vw;
    height: 5rem;
    background-color: rgb(18, 138, 18);
    margin-top: 2rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.link-prices {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: white;
}

.legal-terms {

    font-size: 1rem;
    padding-top: 4rem;
    padding-right: 3rem;
    position: center;
}
.beneficios {

    width: 100vw;
    height: 100vh;
    min-height: 80rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
   
}

.title-Premium {
    font-size:2.5rem;
    padding-top: 3rem;
    text-align: center;
}

.main-benefits{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
 

}
.box-container {
    display: flex;
    flex-direction: row;
}
.box-image {
    height:12.5rem;
    width: 12.5rem;
}

.image{
    width: 100%;
    height: 100%;
    
}


.text-list {
    font-size: 2rem;
    margin-top: 3rem;
    height:12.5rem;
    width:21rem;
    
    
}

.footer {
    background-color: black;
    position:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 6rem;
}
.footer-nav {
    
    display: inline;
    width: 16rem;
    text-align: justify;
}
.footer-ul {
    color: white;
    display: inline;
    padding: 1rem;
    

}

.li-legal  {

    display: inline;
    
    
    
    
}
.li-cookies {

    display: inline;
    margin-left: 3rem;
    
    
    
}
.li-info {
    padding-left: 1rem;
    margin-top: 1rem;


}


.bandera{
    /* position: absolute;
    left: 400px;
    bottom: 10px; */
   
    justify-content: flex-end;
    max-height:  25px;
    margin-right: 25px;
}

.spain-box {
    color: white;
    display: flex;
    display: inline;
    
    
}
.logo-spain {
    display: flex;
    flex-direction: row;
    gap: 0.5rem; 


}
@media(min-width:480px){
    /* .header-nav{
        display: flex;

    } */
    .ul-header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style: none;
    }
    .bmenu{
        display:none;
        list-style: none;
    }
}

/* .beneficios-prueba {
    display:flex;
    flex-direction: column;
    
}

.imagenes-prueba {
    width:1px;
    height:1px;
} */


