*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }

html {

    font-size: 62.50%;
}

body {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.header {
    background-color: black;
    display: flex;
    justify-content:space-between;
    height: 60px;
    
    align-items: center;
       
}
.logo {
    max-height:  25px;
    margin-left: 20px;
    
}
.bmenu {
    justify-content: flex-end;
    max-height:  25px;
    margin-right: 25px;
}
.main {
    background-color:#5f9aff;;
    color: white;
    padding-top: 10rem;
}

.hero {
    background: color #5f9aff;
    height: 50vh;
    align-items: center;
    padding:18px;
    margin:50px;
    font-size: 3.5rem;
    display: inline;padding-left: 2rem;
    
    
}

.text {
    padding-left: 2rem;
}

.paragraph {
    font-size: 2.5rem;
    margin-top: 1.5rem;
    background-color:  #5f9aff;
}    

.prices {
    width: 300px;
    height: 5rem;
    background-color: rgb(18, 138, 18);
    margin: 7rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.link-prices {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
}

.legal-terms {

    font-size: 1.5rem;
    padding: 2rem;
    position: center;
}
.beneficios {

    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    ;
}

.title-Premium {
    font-size:2.5rem;
    text-align: center;
}

.caja-beneficios{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.pic-list1 {
    height: 100px;
    
}
.footer {
    background-color: black;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 6rem;
}
.li {
    
    display: inline;
    width: 16rem;
    text-align: justify;
}
.li-li {
    color: white;
    display: inline;
    padding: 1rem;
    

}

.li-legal  {

    display: inline;
    
    
    
    
}
.li-cookies {

    display: inline;
    margin-left: 3rem;
    
    
    
}
.li-info {
    padding-left: 1rem;
    margin-top: 1rem;


}


.bandera{
    /* position: absolute;
    left: 400px;
    bottom: 10px; */
   
    justify-content: flex-end;
    max-height:  25px;
    margin-right: 25px;
}

.spain-box {
    color: white;
    display: flex;
    display: inline;
    
    
}
.logo-spain {
    display: flex;
    flex-direction: row;
    gap: 0.5rem; 


}

/* .beneficios-prueba {
    display:flex;
    flex-direction: column;
    
}

.imagenes-prueba {
    width:1px;
    height:1px;
} */