<footer class="footer">
    <nav class="footer-nav">
      <ul class="footer-ul">
        <li class="li-legal"><a href=""></a> Legal</li>
        <li class="li-cookies"><a href=""></a>Cookies</li>
        <li class="li-info"><a href=""></a>Información sobre los anuncios</li>
      </ul>
    </nav>
    <div class="spain-box">
      <div class="logo-spain">
        <p>España</p>
        <img class="bandera" src="./assets/images/es.svg" alt="" />
      </div>

      <small>© 2019 Spotify AB</small>
    </div>
  </footer>