<section class="hero">
    <div class="text">
      <h1 class="heading">Prueba Premium gratis 3 meses</h1>
      <p class="paragraph">
        Escucha millones de canciones sin anuncios, a la carta y sin
        conexión.
      </p>
    </div>

    <div class="prices">
      <a
        href="https://www.spotify.com/es/premium/#plans"
        class="link-prices"
        >Ver planes</a
      >
    </div>
    <div class="legal-terms">
      <p>
        Rigen terminos y condiciones.Los tres meses gratis no están
        disponibles para usuarios que hayan probado Premium.
      </p>
    </div>
  </section>